* {
    box-sizing: border-box;
}

body {
    background-color: #f8f9fd;
    max-height: 50em;
    font-family: Roboto;
}


.container1 {
    /* display: inline-block;
    position: relative; */
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    float: left;
    width: 50em;
    height: 52em;
    background-color: #fcfcfc;
    margin: 5% 2%;
    display: grid;
    border-radius: 2%;
    border-style: solid;
    border-color: #e3e7e8;
}

.container2 {
    float: right;
    width: 30em;
    height: 30em;
    background-color: #ffffff;
    margin: 5% 2%;
    display: grid;
    border-radius: 2%;
    border-radius: 2%;
    border-style: solid;
    border-color: #f3f4f6;
}

.product {
    /* display: inline-block;
    position: relative; */
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(255, 255, 255, 0.8);
    padding: 5px;
    font-size: 30px;
    text-align: center;
    width: 8em;
    height: 11em;
    background-color: #fff;
    border-style: solid;
    border-color: #bbbbbb;
    margin: 9% 4%;
    border-radius: 2%;
}

.product:hover {
    box-shadow:
        inset 0 0 0px whitesmoke,
        0 0 10px #fff,
        -10px 0 50px grey,
        10px 0 50px grey;

}

.productImg {
    width: 7em;
    max-height: 5.1em;
}

.productFont {
    font-size: 18px;
    margin: 1%;
}

.productPrice {
    font-size: 16px;
}

.btn {
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5px;
    font-family: Arial;
    color: #dc3546;
    font-size: 16px;
    background: #ffffff;
    padding: 7px 35px 7px 35px;
    border: solid #bc727a 2px;
    text-decoration: none;
}

.btn:hover {
    background: #dc3546;
    text-decoration: none;
    color: #fff;
}

.summary {
    text-align: center;
}

.checkContents {
    margin-top: 2%;
    height: 5em;
    width: 30em;
    background-color: #fff;
    border-style: solid none solid none;
    border-color: #e4e7e9;
    color: #bbbbbb;
}

.one{
    float: left;
    margin: 5% 5% 5% 7%;
}

.two{
    float: left;
    margin: 5% 5% 5% 25%;
}

.three{
    float: left;
    margin: 5% 5% 5% 5%;
}

.contents{
    height: 5em;
    width: 30em;
    background-color: #fff;
}

.one1{
    float: left;
    margin: 5% 5% 5% 7%;
    text-align: left;
}

.two2{
    float: left;
    margin: 5% 9% 5% 8%;
}

.details{
    text-align: left;
    margin-left: 7%;
}

.price{
    width: 100%;
    height: 2em;
    text-align: left;
    margin-left: 7%;
    font-size: 22px;
}

.fa-trash-can{
    margin-top: 5%;
    margin-right: 5%;
}

.cost{
    margin-top: 9px;
    float: left;
    padding-right: 1%;
}

.finalPrice{
    margin-top: 6px;
    padding-bottom: 0px;
    float: left;
    font-size: 22px;
}

.btnCheckout {
    margin-top: 5%;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    background: #dc3546;
    padding: 10px 8em 10px 8em;
    border: solid #000000 1px;
    text-decoration: none;
}

.btnCheckout:hover {
    text-decoration: none;
}


/* Mobile */
@media only screen and (max-width: 600px) {
    .container1 {
        width: 25em;
        height: max-content;
        display: block;
        margin: 5%;
    }
    .product {
        margin: 9% auto;
        border-radius: 2%;
    }
    .container2 {
        margin: 2%;
        width: 25em;
        height: max-content;
        display: block;
    }
    .one{
        float: left;
        margin: 5% 5% 5% 5%;
    }
    
    .two{
        float: left;
        margin: 5% 5% 5% 20%;
    }
    
    .three{
        float: left;
        margin: 5% 5% 5% 5%;
    }

    .one1{
        float: left;
        margin: 5% 5% 5% 5%;
        text-align: left;
    }
    
    .two2{
        float: left;
        margin: 5% 9% 5% 4%;
    }

    .fa-trash-can{
        margin-top: 5%;
        margin-right: 15%;
    }
    .btnCheckout {
        padding: 10px 6em 10px 6em;
    }
}